<h1>Task</h1>
<div style="display: flex; justify-content: space-evenly;">
  <div>
    <canvas #myCanvas width="500" height="500" style="border: 3px solid #d3d3d3"></canvas>
  </div>
  <div>
    <button (click)="clearCanvas()" type="button" class="btn btn-primary">
      Очистить
    </button>
    <button (click)="startDrawingPolygon()" type="button" class="btn btn-primary">
      Нарисовать полигон
    </button>
    <button (click)="startDrawingPoint()" type="button" class="btn btn-primary">
      Нарисовать точку
    </button>

  </div>
</div>

